<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/triangle.css" />
    <link rel="stylesheet" href="/footer.css" />


    <title>CheckArea</title>
  </head>
  <body>
    
    <nav class="navbar">
      <div class="nav-container">
        <div class="logo-container">
          <a href="/index.html"><h1 class="logo">Trigon3</h1></a>
        </div>
        <ul class="nav-items">
          <li class="nav-options">
            <a class="nav-opt" href="/components/isTriangle/isTriangle.html">Triangle?</a>
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/checkHypotenuse/checkHypotenuse.html">Hypotenuse</a>
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/checkArea/checkArea.html"">Area</a>
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/playQuiz/playQuiz.html">Quiz</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <div class="buttons">
        <h2>Enter the Height and Base of the Triangle</h2>
        <label for="triangle-base">Base:</label>
        <input class="input-tab" type="number" id="triangle-base" />
        <label for="triangle-height">Height:</label>
        <input class="input-tab" type="number" id="triangle-height" />

        <button id="check-btn" class="btn">Calculate Area</button>
        <div id="output-div"></div>
      </div>
    </div>

    <footer>
      <ul>
        <li>
          <a href="https://github.com/Surbhi84"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li>
          <a href=""> <i class="fab fa-medium-m"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/surbhi-kukreti-a91b0b163"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://surbhikukreti.netlify.app/"
            ><i class="fas fa-laptop"></i
          ></a>
        </li>
      </ul>

      <div id="legacyText">© 2021 | Surbhi Kukreti</div>
    </footer>

  </body>
  <script src="checkArea.js" type="text/javascript"></script>
</html>
