<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="playQuiz.css" />
    <title>PlayQuiz</title>
  </head>
  <body>
    <div id="initial-block">
      <h1>ARE YOU READY?</h1>
      <button id="btn">YES</button>
    </div>
    <div id="question-block">
      <span id="ques"></span>
      <input type="radio" name="opt" class="a" value="0" />
      <label for="a" id="label1"></label>

      <input type="radio" name="opt" class="a" value="1" />
      <label for="b" id="label2"></label>

      <input type="radio" name="opt" class="a" value="2" />
      <label for="c" id="label3"></label>

      <input type="radio" name="opt" class="a" value="3" />
      <label for="d" id="label4"></label>
      <br />
      <button id="next-btn">Next</button>
    </div>
    <div id="results">
      <p id="para"></p>
      <button id="try-again">Try Again</button>
    </div>
  </body>
  <script src="playQuiz.js" type="module"></script>
</html>
