<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/triangle.css" />
    <link rel="stylesheet" href="/footer.css" />

    <title>PlayQuiz</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="logo-container">
          <a href="/index.html"><h1 class="logo">Trigon3</h1></a>
        </div>
        <ul class="nav-items">
          <li class="nav-options">
            <a class="nav-opt" href="/components/isTriangle/isTriangle.html"
              >Triangle?</a
            >
          </li>
          <li class="nav-options">
            <a
              class="nav-opt"
              href="/components/checkHypotenuse/checkHypotenuse.html"
              >Hypotenuse</a
            >
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/checkArea/checkArea.html"
              >Area</a
            >
          </li>
          <li class="nav-options">
            <a class="nav-opt" href="/components/playQuiz/playQuiz.html"
              >Quiz</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <div class="buttons">
        <div id="initial-block">
          <h2>ARE YOU READY?</h2>
          <button class="btn" id="btn">YES</button>
        </div>
        <div id="question-block">
          <span id="ques"></span>
          <div class="radio-options">
            <span>
              <input type="radio" name="opt" class="a" value="0" />
              <label for="a" id="label1"></label
            ></span>

            <span>
              <input type="radio" name="opt" class="a" value="1" />
              <label for="b" id="label2"></label
            ></span>

            <span>
              <input type="radio" name="opt" class="a" value="2" />
              <label for="c" id="label3"></label
            ></span>

            <span>
              <input type="radio" name="opt" class="a" value="3" />
              <label for="d" id="label4"></label
            ></span>
          </div>

          <button class="btn" id="next-btn">Next</button>
        </div>
        <div id="results">
          <p id="para"></p>
          <button class="btn" id="try-again">Try Again</button>
        </div>
      </div>
    </div>

    <footer>
      <ul>
        <li>
          <a href="https://github.com/Surbhi84"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li>
          <a href=""> <i class="fab fa-medium-m"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/surbhi-kukreti-a91b0b163"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://surbhikukreti.netlify.app/"
            ><i class="fas fa-laptop"></i
          ></a>
        </li>
      </ul>

      <div id="legacyText">© 2021 | Surbhi Kukreti</div>
    </footer>
  </body>
  <script src="playQuiz.js" type="module"></script>
</html>
